{% extends 'intranet/base.html' %}
{% load staticfiles %}
{% block extra_head %}
    <link href="{% static 'css/freight.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container">
        <div class="jumbotron">
        <div class="row">
            
            <div class="col-sm-12 default-form">
            {% if freights %}
            <div class="table-responsive">   
                <table class="table">
                    <thead>
                      <tr>
                        <th class="text-center">ID</th>
                        <th>Origen</th>
                        <th>Destino</th>
                        <th>Conductor</th>
                        <th>Patente</th>
                        <th>Fecha creacion</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for freight in freights %}
                            <tr>
                                <td class="link" onclick="location.href='{% url 'freightProfile' freight.id %}'"><a>{{freight.id}}</a></td>
                                <td>{{freight.start.name}}</td>
                                <td>{{freight.finish.name}}</td>
                                <td>
                                    {% if page == 'inicio' %}
                                        <select onchange="change_freight_driver(this, {{ freight.id }});">
                                            {% if freight.driver %}
                                              <option value="{{freight.driver.id}}">{{freight.driver.name}}</option>
                                            {% endif %}
                                              <option value="-">----</option>
                                            {% for a in freight.posibleDriver %}
                                              <option value="{{a.id}}">{{a.name}}</option>
                                            {% endfor %}
                                        </select>
                                    {% else %}
                                        {{freight.driver.name}}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if page == 'inicio' %}
                                        <select onchange="change_freight_truck(this, {{ freight.id }});">
                                            {% if freight.truck %}
                                              <option value="{{freight.truck.id}}">{{freight.truck.plate}}</option>
                                            {% endif %}
                                              <option value="-">----</option>
                                            {% for a in freight.posibleTruck %}
                                              <option value="{{a.id}}">{{a.plate}}</option>
                                            {% endfor %}
                                        </select>
                                    {% else %}
                                        {{freight.truck.plate}}
                                    {% endif %}

                                </td>
                                <td>{{freight.createDate}}</td>
                            </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
                </div>
                {% else %}
                    <div class="alert alert-info">
                      <strong>No hay ningun manifiesto en este estado!</strong>
                    </div>
                {% endif %}


            </div>
        </div>
        <div class="row">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4 text-center">

                    <div class="pagination">
                    <span class="step-links">
                        {% if freights.has_previous %}
                            <a href="?page={{ freights.previous_page_number }}">Anterior</a>
                        {% endif %}

                        <span class="current">
                            Pagina {{ freights.number }} de {{ freights.paginator.num_pages }}.
                        </span>

                        {% if freights.has_next %}
                            <a href="?page={{ freights.next_page_number }}">Siguiente</a>
                        {% endif %}
                    </span>
                </div>

                </div>
                <div class="col-sm-4">
                </div>

                </div>
    </div>
</div>

<script>
    var changeTruck = "{% url 'freightTruck' %}";
    var changeDriver = "{% url 'freightDriver' %}";
    var csrf_token = "{{ csrf_token }}";
</script>


<script src="{% static 'js/freight.js' %}"></script>
{% endblock %}