{% extends 'intranet/base.html' %}
{% load staticfiles %}
{% block extra_head %}
    {{ form.media }}
{% endblock %}
{% block content %}

<div class="container">
        <div class="jumbotron">
        <div class="row">
        <h3 class="text-center"> Buscar manifiestos de carga </h3>

        {% if form %}
            <div class="col-sm-6 default-form">
            <form action="{% url 'freightSearch'%}" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if forloop.counter == 4 %}
                        
                            </div>
                            <div class="col-sm-6">

                        {% endif %}
      
                        <div class="form-group">
                            {{ field.label_tag }} {{ field }}
                            {% for err in field.errors %}
                                <span class="error_message">{{ err }}</span>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <input type="hidden" name="clicked_button" id="clicked_button" value=""/>
                    <input type="submit" value="Buscar" />
                </form>
            </div>  
        {% endif %}

        </div>
        <div class="row">

        {% if freights %}
            <div class="table-responsive">   
                <table class="table">
                    <thead>
                      <tr>
                        <th class="text-center">ID</th>
                        <th>Origen</th>
                        <th>Destino</th>
                        <th>Camion</th>
                        <th>Conductor</th>
                        <th>Valor</th>
                        <th>Fecha creacion</th>
                        <th>Transito</th> 
                        <th>Destino</th>                                                
                      </tr>
                    </thead>
                    <tbody>
                        {% for freight in freights %}
                            <tr>
                                <td class="link" onclick="location.href='{% url 'freightProfile' freight.id %}'"><a>{{freight.id}}</a></td>
                                <td>{{freight.start.name}}</td>
                                <td>{{freight.finish.name}}</td>
                                <td>{{freight.truck.plate}}</td>
                                <td>{{freight.driver.name}}</td>
                                <td>{{freight.totalRate}}</td>
                                <td>{{freight.createDate}}</td>

                                    {% if freight.sendDate %}
                                        <td>{{freight.sendDate}}</td>
                                    {% else %}
                                        <td>-</td>
                                    {% endif %}

                                    {% if freight.receiveDate %}
                                        <td>{{freight.receiveDate}}</td>
                                    {% else %}
                                        <td>-</td>
                                    {% endif %}

                            </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
                </div>
                {% elif success %}
                    <div class="alert alert-info">
                      <strong>No hay ningun paquete en este estado!</strong>
                    </div>
                {% endif %}

                </div>
                {% if success %}
        
                <div class="row">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4 text-center">

                    <div class="pagination">
                    <span class="step-links">
                        {% if freights.has_previous %}
                            <a href="?page={{ freights.previous_page_number }}">Anterior</a>
                        {% endif %}

                        <span class="current">
                            Pagina {{ freights.number }} de {{ freights.paginator.num_pages }}.
                        </span>

                        {% if freights.has_next %}
                            <a href="?page={{ freights.next_page_number }}">Siguiente</a>
                        {% endif %}
                    </span>
                </div>

                </div>
                <div class="col-sm-4">
                </div>

                </div>

                {% endif %}
                </div>
    </div>
</div>

{% endblock %}

{% block javascript %}



{% endblock %}