{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>L&amp;S</title>
                <!-- Core CSS - Include with every page -->
                <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
                <link href="{% static 'css/intranet.css' %}" rel="stylesheet">
                <link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet">
                <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
                <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
                <script src = "{% static 'js/jquery.min.js' %}"></script>
                <script src = "{% static 'js/jquery-ui.js' %}"></script>
                <script src = "{% static 'js/bootstrap.min.js' %}"></script>

                {% block extra_head %}
                {% endblock %}
                
                </head>
                <body>
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="{% url 'home'%}">L&amp;S</a>
                            </div>
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                

                                <ul class="nav navbar-nav">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Guias de Flete<span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a href="{% url 'package'%}">Crear</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li>
                                                <a href="{% url 'packageIndex'%}">Origen</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'packageTraveling'%}">Transito</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'packageFinish'%}">Bodega Destino</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'packageDelivered'%}">Entregado</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                


                                <ul class="nav navbar-nav">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Manifiestos de carga<span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a href="{% url 'freight'%}">Crear</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li>
                                                <a href="{% url 'freightIndex'%}">Origen</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'freightTraveling'%}">Transito</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'freightFinish'%}">Destino</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>

                                <ul class="nav navbar-nav">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Añadir otros<span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a href="{% url 'warehouse'%}">Bodegas</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'truck'%}">Camion</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'driver'%}">Conductor</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'customer'%}">Cliente</a>
                                            </li>

                                        </ul>
                                    </li>
                                </ul>

                                <ul class="nav navbar-nav">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Consultas<span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a href="{% url 'packageSearch'%}">Guias de flete</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'customerSearch'%}">Clientes</a>
                                            </li>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="dropdown">
                                        <a href="/logout">Cerrar Sesión</a>
                                    </li>
                                </ul>
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="dropdown">
                                        <a href="{% url 'changePassword'%}">Cambiar Contraseña</a>
                                    </li>
                                </ul>
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="dropdown">
                                        <a href="{% url 'help'%}">Guia</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>

                {% block content %}
                {% endblock %}


                    <!-- Core Scripts - Include with every page -->

        {% block javascript %}
        {% endblock %}


            </body>
        </html>