{% extends 'intranet/base.html' %}

{% block content %}

<div class="container">
        <div class="jumbotron">
        <div class="row">
        {% if not success %}
            <div class="col-sm-1">
            </div>
            <div class="col-sm-10 default-form">
            <form action="{% url 'changePassword'%}" method="post">
                    {% csrf_token %}
                        <div class="form-group">
                            <label for="id_password">Nueva constraseña:</label> <input class="form-control" id="id_password" maxlength="30" name="password" type="password" required />
                            
                        </div>
                    
                        <div class="form-group">
                            <label for="id_password2">Repetir contraseña:</label> <input class="form-control" id="id_password2" maxlength="30" name="password2" type="password" required />
                        </div>

                    <input type="submit" value="Cambiar" />
                </form>
            </div>
            <div class="col-sm-1">
            </div>  
        {% endif %}
        {% if success %}
            Se ha cambiado con exito
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}