{% extends 'intranet/base.html' %}

{% block content %}

<div class="container">
        <div class="jumbotron">
        <div class="row">
        {% if form %}
            <div class="col-sm-1">
            </div>
            <div class="col-sm-10 default-form">
            <form action="{% url 'truck'%}" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.label_tag }} {{ field }}
                            {% for err in field.errors %}
                                <span class="error_message">{{ err }}</span>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <input type="submit" value="Crear" />
                    {% if success %}
                        Se ha creado con exito
                    {% endif %}
                </form>
            </div>
            <div class="col-sm-1">
            </div>  
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}