{% extends 'intranet/base.html' %}

{% block content %}

<div class="container">
        <div class="jumbotron">
        <div class="row">
        <h3 class="text-center"> Crear Bodega </h3>
                {% if success %}
                    <div class="alert alert-success">
                      <strong>Se ha creado con exito!</strong>
                    </div>
                {% endif %}
        {% if form %}
            <div class="col-sm-1">
            </div>
            <div class="col-sm-5 default-form">
            <form action="{% url 'warehouse'%}" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.label_tag }} {{ field }}
                            {% for err in field.errors %}
                                <span class="error_message">{{ err }}</span>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <input type="submit" value="Crear" />

                </form>
            </div>
        {% endif %}

            <div class="col-sm-5">
            <div class="table-responsive">   
                <table class="table">
                    <thead>
                      <tr>
                        <th class="text-center">ID</th>
                        <th>Nombre</th>
                        <th>Telefono</th>
                        <th>Encargado</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for warehouse in warehouses %}
                            <tr>
                                <td>{{warehouse.id}}</td>
                                <td>{{warehouse.name}}</td>
                                <td>{{warehouse.phone}}</td>
                                <td>{{warehouse.rep}}</td>
                            </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
                </div>
            </div>


            <div class="col-sm-1">
            </div>  
        </div>
    </div>
</div>
{% endblock %}