{% extends 'intranet/base.html' %}
{% load staticfiles %}
{% block extra_head %}
    <link href="{% static 'css/print80.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}

<div class="container">
        <div class="jumbotron">
        <div class="row">
        <h3 class="text-center"> Crear Recogida de Carga </h3>
                {% if success %}
                    <div class="alert alert-success">
                        <strong>Se ha creado con exito!</strong> Puedes ver la <a href="{% url 'pickupProfile' pickup.id %}" class="alert-link">Recogida de Carga</a> o 
                        <a href="javascript:window.print()" class="alert-link" role="button">Imprimir</a>.
                    </div>
                {% endif %}
        {% if form %}
            <div class="col-sm-1">
            </div>
            <div class="col-sm-10 default-form">
            <form action="{% url 'pickup'%}" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.label_tag }} {{ field }}
                            {% for err in field.errors %}
                                <span class="error_message">{{ err }}</span>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <input type="submit" class="btn btn-default" value="Crear" />

                </form>
            </div>
            <div class="col-sm-1">
            </div>  
        {% endif %}
        </div>
    </div>
</div>

<div id="print" class="row">
<div class="title col-sm-12">
L&amp;S
</div>


<div class="line col-xs-12">
    <div class="col-xs-4">
        Recogida de carga:
    </div>
    <div class="col-xs-8">
        {{pickup.id}}
    </div>
</div>

<div class="line col-xs-12">
    <div class="col-xs-4">
        Cliente:
    </div>
    <div class="col-xs-8">
        {{pickup.customer.name}}
    </div>
</div>

<div class="line col-xs-12">
    <div class="col-xs-4">
        Cantidad:
    </div>
    <div class="col-xs-8">
        {{pickup.quantity}}
    </div>
</div>

<div class="line col-xs-12">
    <div class="col-xs-4">
        Peso:
    </div>
    <div class="col-xs-8">
        {{pickup.weight}}
    </div>
</div>

<div class="line col-xs-12">
    <div class="col-xs-4">
        Fecha Inicio:
    </div>
    <div class="col-xs-8">
        {{pickup.createDate}}
    </div>
</div>

<div class="price col-xs-12">
    Entregar a:


<div class="line col-xs-12">
    <div class="deliver col-xs-4">
        Camión:
    </div>
    <div class="col-xs-8">
        {{pickup.truck.plate}}
    </div>
</div>

<div class="line col-xs-12">
    <div class="deliver col-xs-4">
        Conductor:
    </div>
    <div class="col-xs-8">
        {{pickup.driver.name}}
    </div>
</div>
</div>

<div class="price col-xs-12">
    Direccion de retiro:


<div class="line col-xs-12">
    <div class="address col-xs-12">
        {{pickup.address}}
    </div>
</div>


</div>

<div class="jump col-xs-12">
</div>
<div class="line col-xs-12">
    <div class="sign col-xs-5">
        Encargado
    </div>
    <div class="col-xs-2">
    </div>
    <div class="sign col-xs-5">
        Cliente
    </div>
</div>



</div>


{% endblock %}