#print{
  width:79mm;
  visibility: hidden;
  margin: auto;
}

.line{
  font-size: 12pt;
}
.title{
  font-size: 80pt;
  text-align: center;
}

.sign {
  border-top: 1px solid black;
  text-align: center;

}

.jump{
  height: 100px;
}

.price{
  margin-top: 30px;
  font-size: 12pt;
}

.bold {
  font-weight: bold;
}

@media print {
  @page{
    size: 80mm;
    size: portrait;
  }
  body * {
    visibility: hidden;
  }
  body {
  	width: 80mm;
  }
  #print div{
    visibility: visible;
  }
  #print {
    position: absolute;
    visibility: visible;
    left: 0;
    top: 0;
  }
}
