<!DOCTYPE HTML>
<html>
    <head>
        <title>Manifiesto de carga</title>

        <style type="text/css">
            @page {
                size: {{ pagesize }};
                margin: 1cm;
                @frame footer {
                    -pdf-frame-content: footerContent;
                    bottom: 0cm;
                    margin-left: 9cm;
                    margin-right: 9cm;
                    height: 1cm;
                }
            }
            table {
                margin: 10px;
                border-style: solid;
                border-color: black black;
                font-size: 15px;
            }

            th {
                padding-top: 2px;
            }

            td {
                padding-top: 2px;
            }

            .text-center {
                width: 30px;
                text-align: center;
            }

            .last-line {
                border-style: none;

            }

            .title {
                font-size: 25px;
            }

            .subtitle {
                font-size: 22px;
            }
            .subsubtitle {
                font-size: 18px;
                font-weight: bold;
            }

        </style>
    </head>
    <body>

    <div class="title"> Guia de flete N°{{package.id}}</div>
    <div class="subtitle"> Transportes L&amp;S </div>
    <div class="subsubtitle"> Generado: {{date}} </div>

                <table class="table">
                    <thead>
                      <tr>
                        <th class="text-center">ID</th>
                        <th>Cliente</th>
                        <th>Origen</th>
                        <th>Destino</th>
                        <th>Estado</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">{{package.id}}</td>
                            <td>{{package.customer.name}}</td>
                            <td>{{package.start.name}}</td>
                            <td>{{package.finish.name}}</td>
                            <td>
                            {% if package.is_waiting %}
                                En espera
                            {% elif package.is_traveling %}
                                En transito
                            {% elif package.is_delivered %}
                                Entregado a Cliente
                            {% else %}
                                Finalizado
                            {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>


                <table class="table">
                    <thead>
                      <tr>
                        <th>Volumen</th>
                        <th>Cantidad</th>
                        <th>Peso</th>
                        <th>Riesgo</th>
                        <th>Oportunidad</th>
                        <th>Valor Unitario</th>
                        <th>Total</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{package.volumen}}</td>
                            <td>{{package.quantity}}</td>
                            <td>{{package.weight}}</td>
                            <td>{{package.risk}}</td>
                            <td>{{package.chance}}</td>
                            <td>
                                {% if package.rate == 0 %}
                                      No definido
                                {% else %}
                                    {{package.rate}}    
                                {% endif %}
                            </td>
                            <td>
                                {% if package.rate == 0 %}
                                      No definido
                                {% else %}
                                    {{package.total}}    
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="table">
                    <thead>
                      <tr>
                        <th>Hora creacion</th>
                        <th>Hora de entrega</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>                                                       
                            <td>{{package.createDate}}</td>
                            {% if package.is_delivered %}
                                <td>{{package.freight.deliverDate}}</td>
                            {% else %}
                                <td>No entregado</td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>

                {% if package.freight%}

                <div class="subsubtitle"> Manifiesto de carga </div>
                <table class="table">
                    <thead>
                      <tr>
                        <th class="text-center">ID</th>
                        <th>Conductor</th>
                        <th>Patente</th>
                        <th>Estado</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">{{package.freight.id}}</td>
                            <td>{{package.freight.driver.name}}</td>
                            <td>{{package.freight.truck.plate}}</td>
                            <td>
                            {% if package.freight.is_waiting %}
                                En espera
                            {% elif package.freight.is_traveling %}
                                En transito
                            {% else %}
                                Finalizado
                            {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
                

                <table class="table">
                    <thead>
                      <tr>
                        <th>Hora creacion</th>
                        {% if not package.is_waiting %}
                            <th>Hora de salida</th>
                            {% if not package.is_traveling %}
                                <th>Hora de llegada</th>
                            {% endif %}
                        {% endif %}
                      </tr>
                    </thead>
                    <tbody>
                        <tr>                                                       
                            <td>{{package.freight.createDate}}</td>
                            {% if not package.is_waiting %}
                                <td>{{package.freight.sendDate}}</td>
                                {% if not package.is_traveling %}
                                    <td>{{package.freight.receiveDate}}</td>
                                {% endif %}
                            {% endif %}    
                            
                        </tr>
                    </tbody>
                </table>
                {% endif %}

        <div id="footerContent">
            {%block page_foot%}
                Pagina <pdf:pagenumber>
            {%endblock%}
        </div>
    </body>
</html>