{% extends 'intranet/base.html' %}
{% load staticfiles %}
{% block extra_head %}  
    <link href="{% static 'css/freight.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

<div class="container">
        <div class="jumbotron">
        <div class="row">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-10 default-form">
            
            <div class="table-responsive">   
                <table class="table">
                    <thead>
                      <tr>
                        <th>Rut</th>
                        <th>Nombre</th>
                        <th>Telefono</th>
                        <th>Representante</th>
                        <th>Email</th>
                        <th>Telefono</th>
                        <th>Metodo de pago</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{customer.rut}}</td>
                            <td>{{customer.name}}</td>
                            <td>{{customer.phone}}</td>
                            <td>{{customer.rep}}</td>
                            <td>{{customer.repEmail}}</td>
                            <td>{{customer.repPhone}}</td>
                            <td>{{customer.pay}}</td>
                        </tr>
                        
                    </tbody>
                </table>
                </div>
                        
                <h4 class="text-center">Paquetes enviados</h4>
                <div class="table-responsive">   
                    <table class="table">
                        <thead>
                          <tr>
                            <th>Riesgo</th>
                            <th>Volumen</th>
                            <th>Cantidad</th>
                            <th>Peso</th>
                            <th>Oportunidad</th>
                            <th>Tarifado</th>
                          </tr>
                        </thead>
                        <tbody id="own">
                            {% for package in own_packages %}
                            <tr>
                                <td>{{package.risk}}</td>
                                <td>{{package.volume}}</td>
                                <td>{{package.quantity}}</td>
                                <td>{{package.weight}}</td>
                                <td>{{package.chance}}</td>
                                <td>{{package.rate}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>


            </div>
            <div class="col-sm-1">
            </div>  
        </div>
    </div>
</div>


<script>
    var change = "{% url 'packageFreight' %}";
    var changeTruck = "{% url 'freightTruck' %}";
    var changeDriver = "{% url 'freightDriver' %}";
    var changeFreightState = "{% url 'freightState' %}";
    var csrf_token = "{{ csrf_token }}";
    var freight = "{{ freight.id }}";
</script>




<script src="{% static 'js/freight.js' %}"></script>
{% endblock %}