{% extends 'intranet/base.html' %}

{% block content %}

<div class="container">
        <div class="jumbotron">
        <div class="row">
        <h3 class="text-center"> Modificar Cliente </h3>
        {% if form %}
            <div class="col-sm-12 default-form">
                <form action="{% url 'customerUpdate' customer_id %}" method="post">
    			    {% csrf_token %}
    			    {% for field in form %}
                        <div class="form-group">
                            {{ field.label_tag }} {{ field }}
                            {% for err in field.errors %}
                                <span class="error_message">{{ err }}</span>
                            {% endfor %}
                        </div>
                    {% endfor %}
    			    <input type="submit" value="Modificar" />
                    {% if success %}
                        Se ha creado con exito
                    {% endif %}
    			</form>
            </div>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}